.scroll-container {
    position: relative;
    width: 100%;
    overflow: hidden;
    padding-top: 7rem; /* Adjusted value to add more space above the infinite scroll */
    padding-bottom: 2.5rem; /* Bottom padding remains as intended */
}

.scroll-content {
    display: flex;
    width: fit-content;
    animation: scroll-left 60s linear infinite;
}

@keyframes scroll-left {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-50%);
    }
}

.snap-start {
    flex-shrink: 0;
    width: 18rem; /* Match the width of the FragranceCard */
    margin-left: 1rem;
    margin-right: 1rem;
}

/* Removed the Tailwind-like classes `mt-20` and `pb-10` */
